@model HomeIndexViewModel 
@{
    ViewBag.Title = "Bosh sahifa";
}

<div class="d-flex ">
    <div class="d-flex col-md-12">
        <select id="firstId" class="form-control col-md-6 ">
            @foreach (var item in Model.CurrencyModels)
            {


                <option id="firstCurrencySelect" value="@item.Rate">@item.CcyNm_EN  (@item.CcyNm_RU)</option>

            }
        </select>
        <select id="secondId" class="form-control col-md-6">
            @foreach (var item in Model.CurrencyModels)
            {


            <option id="secondCurrencySelect" ondurationchange="GetVal()" value="@item.Rate">@item.CcyNm_EN  (@item.CcyNm_RU)</option>

            }
        </select>
    </div>
</div>
<div class="card-deck d-flex col-md-12">
    <input id="firstCurrency" onkeyup="GetVal()"/>

    <input id="secondCurrency" readonly />


</div>
<div class="d-flex">
    <button class="btn btn-dark w-50 h-50" onclick="SetVal()"></button>
</div>
<script>

  
    function GetVal() {
        console.log("salom");
        const result = (($('#firstCurrency').val()) * ($('#firstId').find(":selected").val()) / ($('#secondId').find(":selected").val()));
        $('#secondCurrency').val(result);    
    }
    function SetVal() {
        const firstRate = $('#firstId').find(":selected").val();
        const secondRate = $('#secondId').find(":selected").val();
        const base = $('#firstCurrency').val() * firstRate;
        const result = (base / secondRate);
 
        var data = {};
            $.ajax({
                type: "POST",
                url: "/Home/AjaxMethod",
                data: {
                    FirstCurrency: $('#firstCurrencySelect').text(),
                    SecondCurrency: $('#secondCurrencySelect').text(),
                    FirstSum: $('#firstId').find(":selected").val(),
                    SecondSum: result
                },
                success: function (data) {
                    
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        
    }


</script>
